.contact {
  padding: 25px;
  color: black;
  background-color: rgb(255, 255, 255);
}

.contact h4 {
  text-align: center;
}
.contact h1{
  text-align: center;
}

.mainform {
  display: block;
  margin: auto;
  padding: 10px;
  width: 355px;
}

.mainform input {
  display: block;
  margin: auto;
  width: 90%;
  border: none;
  padding: 7px;
  margin: 10px auto;
  border-radius: 9px;
  background: #ede0e8;
}
.mainform
textarea {
  display: block;
  margin: auto;
  width: 90%;
  border: none;
  padding: 7px;
  margin: 10px auto;
  border-radius: 9px;
  background: #ede0e8;
}
.mainform button {
  display: block;
  margin: auto;
  width: 90%;
}
.bgredbtn {
  padding: 8px;
  width: 124px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 15rem;
  background: rgb(245, 49, 23);
  border: 1px solid rgb(245, 49, 23);
}

.bgredbtn:hover {
  padding: 8px;
  margin-top: 10px;
  background: transparent;
  color: rgb(245, 49, 23);
  border: 1px solid rgb(245, 49, 23);
}
